{% extends 'base.html' %}

{% load crispy_forms_tags %}
 
{% block content %}
  <div class="progress mb-3">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%"></div>
  </div>
  <h3 id = 'demo'; style="float:right;"></h3>
  <h2 class="mb-3">{{ quiz.name }}</h2>
  <p class="lead">{{ question.text }}</p>
  <form method="post" novalidate>
    <input type="hidden" id ="myId" name="customvalue" value = 'true'/> 
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Next →</button>
  </form>
  <script>

    function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}

countDown = getCookie("countDownDate");
console.log('cookie coundaown value', countDown)
if (countDown === ''){
  var d1 = new Date ();
var d2 = new Date ( d1 );
d2.setMinutes (d1.getMinutes() + 25);
// Set the date we're counting down to
var countDownDate = d2.getTime();
  console.log('in the if condition')
document.cookie = "countDownDate=" + countDownDate;
countDown = getCookie("countDownDate");

}

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
  // Find the distance between now and the count down date
  var distance = parseInt(countDown) - now;
  console.log("time remaining ",distance)
  // Time calculations for days, hours, minutes and seconds
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = minutes + ": " + seconds;

    
  // If the count down is over, write some text 
  
  if (distance < 0 || distance == NaN) {
    clearInterval(x);
    document.getElementById('myId').value = 'false';
    document.getElementById("demo").style = "display:none";
    // document.cookie = "countDownDate='dhruvsfot'";
    alert('Your are timed out, You can answer current question and click the Next button to submit');
  }
}, 1000);

</script>
  
{% endblock %}
